#container
  #sentence.ghost
  #overlay
  #current

#next.modal.hide.fade
  .modal-header
    h3 Muy Bienhecho!
  .modal-body
    | Ready for the next one?
  .modal-footer
    form#nextForm
      a.btn close
      button.btn.btn-primary(type="submit") next 